.header-content{
    min-height: 75vh;
    background: linear-gradient(rgba(69, 67, 70, 0.53), rgb(65, 53, 69)), url("../../images/library.jpg")  center/cover no-repeat;
    flex-direction: column;
}
.header-title{
    font-size: 4.2rem;
}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
    color: white;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    font-weight: bold;
}